<template>
  <div class="px-2 lg:px-0">
    <div class="flex flex-row items-center justify-between lg:w-4/5">
      <div>
        <h2 class="font-bold text-lg my-2">
          Odchody z klanov
        </h2>
      </div>
      <div>
        Počet hráčov: {{ totalItems }}
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-1 xl:w-4/5 scrollbar pr-1" style="height: calc(100vh - 6rem); overflow-y: scroll;">
      <player-modal v-if="openModal" :player="playerModal" @closeModal="closeModal()" />
      <div v-for="(player, index) in players" :key="index" class="">
        <div class="rounded shadow-md hover:shadow-0 hover:border-4 border flex flex-col p-1 text-white" @click="openPlayerModal(player)" v-bind:style="wn8(player.wn8)">
          <div class="flex flex-row">
            <div class="flex items-center">
              <img :src="player.emblems_small" :alt="player.abbreviation" :title="player.name" width="32" height="32" />
            </div>
            <div class="flex flex-col ml-2">
              <row-component label="Hráč" :value="player.nickname" />
              <row-component label="Klan" :value="player.abbreviation" />
            </div>
          </div>
          <row-between-component label1="WN8" :value1="Math.floor(player.wn8)" label2="Winrate" :value2="((player.players_stat_all.wins / player.players_stat_all.battles ) * 100).toFixed(2)" />
          <hr class="border">
          <row-between-component label1="Bitiek" :value1="player.players_stat_all.battles" label2="Rola" :value2="player.role" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RowBetweenComponent from '~/components/Player/rowBetweenComponent.vue'
import rowComponent from '~/components/Player/rowComponent.vue'
import { wn8color } from "~/mixins/wn8color"

export default {
  components: { rowComponent, RowBetweenComponent },
  data () {
    return {
      totalItems: 0,
      players: {},
      openModal: false,
      playerModal: {}
    }
  },
  async fetch () {
    await this.$axios(this.$store.state.api_url + '/odchody_cz', {
      params: { 'order[wn8]': 'DESC' }
    })
      .then((result) => {
        this.players = result.data['hydra:member']
        this.$store.commit('players/players', result.data['hydra:member'])
        this.totalItems = result.data['hydra:totalItems']
      })
  },
  methods: {
    openPlayerModal (player) {
      this.playerModal = player
      this.openModal = true
    },
    closeModal () {
      this.openModal = false,
      this.playerModal = {}
    },
    wn8 (value) {
      return 'background-color: ' + wn8color(value) + ';'
    }
  }
}
</script>

<style scoped>
.scrollbar::-webkit-scrollbar {
  width: 0.5rem;
}
.scrollbar::-webkit-scrollbar-track {
  background: linear-gradient(180deg, gray 11%, #555555 70%);
}
.scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg, #279e00 11%, #32a70c 50%, #4cc126 90%); ;
}
</style>
