<template>
  <div class="px-4">
    <h2 class="font-bold text-lg mb-4">
      Volny hraci
    </h2>
    <div class="flex flex-col lg:flex-row flex-wrap gap-4">
      Content
    </div>
  </div>
</template>

<script>
export default {
  name: 'Index'
}
</script>

<style scoped>

</style>
