<template>
  <div id="container" class="w-full flex flex-col">
    <div id="top-bar" class="flex flex-row flex-nowrap w-full bg-gray-400 relative sticky top-0">
      <div class="lg:w-1/5 lg:flex hidden" />
      <div id="menu" class="w-full">
        <top-menu />
      </div>
      <div class="lg:w-1/5 lg:flex hidden" />
    </div>
    <div id="content" class="flex flex-row flex-nowrap w-full">
      <div class="lg:w-1/5 lg:flex hidden text-center" />
      <div class="w-full">
        <Nuxt />
      </div>
      <div class="lg:w-1/5 lg:flex hidden" />
    </div>
  </div>
</template>

<script>
import topMenu from '~/components/Menu/topMenu.vue'
export default {
  name: 'DefaultLayout',
  components: { topMenu }
}
</script>
