<template>
  <div>Picovina</div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  head: {
    title: 'Fpcstat',
    meta: [
      {
        name: 'description',
        content: 'Stranky pre naborarov'
      }
    ]
  }
})
</script>
