<template>
  <div class="fixed z-10 lg:w-2/5 md:w-3/5 w-auto mx-auto bg-white text-black border-2 border-gray-400">
    <div class="flex flex-col">
      Modalne okno pre podrobnosti
      <div>{{ player.nickname }}</div>
      <div>{{ playerNicks }}</div>
      <player-clans-component :account-id="player.account_id"/>
      <button @click="$emit('closeModal')">
        Zavri
      </button>
    </div>
  </div>
</template>

<script>
import PlayerClansComponent from './PlayerClansComponent.vue'
export default {
  components: { PlayerClansComponent },
  name: 'PlayerModal',
  props: {
    player: {
      type: Object,
      default: {}
    }
  },
  data () {
    return {
      playerNicks: {},
      playerClans: {}
    }
  },
  fetchOnServer: true,
  fetchKey: 'player-modal',
  async fetch () {
    await this.$axios(this.$store.state.api_url + '/player_nicks', {
      params: { 'account_id': this.player.account_id }
    }).then(res => {
      this.playerNick = res.data['hydra:member']
    })

    await this.$axios(this.$store.state.api_url + '/player_clans', {
      params: { 'account_id': this.player.account_id }
    }).then(res => {
      this.playerClans = res.data['hydra:member']
    })
  }
}
</script>
