<template>
  <div>
    <div v-if="loadingDone" class="flex flex-row flex-wrap">
      <div v-for="(value, key) in playerClanHistory" :key="key" class="flex flex-col m-1 p-2 bg-gray-400 rounded">
        <template v-if="clanDetails[value.clan_id].emblems !== null && clanDetails[value.clan_id].tag !== ''">
          <div class="flex flex-row">
            <img
              :src="clanDetails[value.clan_id].emblems.x64.portal"
              :alt="clanDetails[value.clan_id].tag"
              :title="clanDetails[value.clan_id].name"
              width="64"
              height="64"
              class="mr-2"
            ></img>
            <div class="flex flex-col justify-center">
              <span class="font-bold"> {{ clanDetails[value.clan_id].name }}</span>
              <span class="text-sm">od: {{ humanDate(value.joined_at) }}</span>
              <span class="text-sm">do: {{ humanDate(value.left_at) }}</span>
            </div>
          </div>
          <div>
            <span class="mx-2 text-sm">rola: </span><span class="font-bold">{{ value.role }}</span>
          </div>
        </template>
      </div>
    </div>
    <div v-else>
      <div class="flex justify-center items-center bg-yellow-400 h-24 leading-10">Nahrávam údaje zo servera wargaming ...</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PlayerClanComponent',
  props: {
    accountId: {
      type: Number,
      default: -1
    }
  },
  data () {
    return {
      playerClanHistory: {},
      clanDetails: {},
      loadingDone: false
    }
  },
  fetchOnServer: false,
  fetchKey: 'player-clans',
  async fetch () {
    await this.$axios.get(this.$store.state.wargaming.baseWargamingURL + '/clans/memberhistory/', {
      params: {
        application_id: this.$store.state.wargaming.applicationId,
        language: 'cs',
        account_id: this.accountId
      },
      headers: {
        'Accept' : 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8',
      }
    }).then((res) => {
      this.playerClanHistory = res.data.data[this.accountId]
      this.getClanDetails()
    })
  },
  computed: {},
  methods: {
    async getClanDetails () {
      const clanId = Object.keys(this.playerClanHistory).map((key) => {
        return this.playerClanHistory[key].clan_id
      })
      let clanIds = ''

      clanId.forEach((value) => {
        clanIds += value + ','
      })

      await this.$axios
        .get(this.$store.state.wargaming.baseWargamingURL + '/clans/info/', {
          params: {
            application_id: this.$store.state.wargaming.applicationId,
            fields: 'clan_id,name,tag,emblems.x64',
            clan_id: clanIds
          }
        })
        .then((response) => {
          this.clanDetails = response.data.data
          this.loadingDone = true
        })
    },
    humanDate (date) {
      const rawDate = new Date(1000 * date)

      const year = rawDate.getUTCFullYear()
      const month = rawDate.getUTCMonth() + 1
      const day = rawDate.getUTCDate()
      const hour = rawDate.getUTCHours()
      const minutes = (rawDate.getUTCMinutes() < 10 ? '0' : '') + rawDate.getUTCMinutes()

      return day + '.' + month + '.' + year + ' ' + hour + ':' + minutes
    }
  }
}
</script>
