<template>
  <div class="flex flex-row justify-between">
    <div class="">
      <span class="text-xs italic">{{ label1 }}:</span>
      <span>{{ value1 }}</span>
    </div>
    <div class="">
      <span class="text-xs italic">{{ label2 }}:</span>
      <span>{{ value2 }}</span>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'RowComponent',
  props: {
    label1: {
      type: String,
      default: ''
    },
    value1: {
      type: [String, Number],
      default: ''
    },
    label2: {
      type: String,
      default: ''
    },
    value2: {
      type: [String, Number],
      default: ''
    }
  }
}
</script>
