<template>
  <div class="flex flex-row flex-nowrap items-baseline">
    <div class="text-xs italic overflow-ellipsis overflow-hidden">
      {{ label }}:&nbsp;
    </div>
    <div class="overflow-ellipsis overflow-hidden">
      {{ value }}
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: 'RowComponent',
  props: {
    label: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    }
  }
}
</script>
