<template>
  <div class="w-full flex flex-row text-white text-lg ">
    <div class="self-start fpc-color">
      <h1 class="text-2xl text-bold text-black mx-4">
        {{ siteName }}
      </h1>
    </div>
    <div id="classic-menu" class="lg:flex hidden flex-grow justify-end mr-4 items-center">
      <nuxt-link v-for="(item, index) in menu" :key="index" :to="item.path" class="justify-self-end">
        <span v-if="currentPath === item.path" class="text-base text-bold fpc-color hover:text-black px-2 mx-2">{{ item.name }}</span>
        <span v-else class="text-base text-bold text-white hover:text-black px-2 mx-2">{{ item.name }}</span>
      </nuxt-link>
    </div>
    <div id="hamburger-menu" class="lg:hidden flex flex-grow justify-end mr-4 items-center">
      <span @click="hamburgerMenu = !hamburgerMenu">
        ss
      </span>
      <div v-if="hamburgerMenu" class="flex flex-col absolute right-0 bg-gray-400" style="top: 2rem" @click="hamburgerMenu=false">
        <nuxt-link v-for="(item, index) in menu" :key="index" :to="item.path" class="justify-self-end">
          <span v-if="currentPath === item.path" class="text-base text-bold fpc-color hover:text-black px-2 mx-2">{{ item.name }}</span>
          <span v-else class="text-base text-bold text-white hover:text-black px-2 mx-2">{{ item.name }}</span>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      siteName: 'FPCSTAT',
      hamburgerMenu: false,
      menu: [
        { path: '/odchody', name: 'Dnešné odchody' },
        { path: '/volny-hraci', name: 'Voľný hráči' },
        { path: '/hladam-klan', name: 'Hľadám klan' }
      ]
    }
  },
  computed: {
    currentPath () {
      return this.$nuxt.$route.path
    }
  },
  methods: {}
}
</script>
<style scoped>
  .fpc-color {
    background: linear-gradient(
      0deg, #279e00 11%, #32a70c 50%, #4cc126 90%);
  }
</style>
